<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} - Photo Gallery</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/vendor/icofont/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/vendor/boxicons/css/boxicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/vendor/venobox/venobox.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/vendor/remixicon/remixicon.css') }}">
    <link rel="stylesheet"
      href="{{ url_for('static', filename= 'assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/vendor/aos/aos.css') }}">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/css/style.css') }}">
    {% block styles %} {% endblock %}

  </head>

  <body>
    <!-- ======= Header ======= -->
    {% block header %}
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
          <h1 class="text-light"><a href="{{ url_for('index') }}"><span>Photo Gallery</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li>
              <a href="{{ url_for('login_akun') }}">Account</a>
            </li>

          </ul>
        </nav><!-- .nav-menu -->

      </div>
    </header><!-- End Header -->
    {% endblock %}

    {% block content %} {% endblock %}

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Bootslander</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <div id="preloader"></div>

    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/scripts.js') }}"></script>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename= 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/vendor/venobox/venobox.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/vendor/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'assets/vendor/aos/aos.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename= 'assets/js/main.js') }}"></script>
    {% block scripts %} {% endblock %}

  </body>

</html>